@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background-image: url(./mustafar.jpg);
    background-size: cover;
    overflow: hidden;
}

.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
}


.box{
    height: 300px;
    width: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 0 10px 1px black;
    
}

.box_item{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}


#buttons{
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#results{
    flex-direction: column;
    display: none;
    justify-content: none;
    margin-bottom: 20px;
}

#enemy_figure, #marginer{
    margin-top: 10px;
    margin-bottom: 10px;
}

#return{
    margin-top: 15px;
}

button{
    height: 40px;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
    color: white;
    background-color: black;
    transition: 0.5s;
    font-weight: 600;
    cursor: pointer;
}

button:hover{
    box-shadow: 0 0 10px 1px black;
}